<a href="https://colab.research.google.com/github/Priyahuman01/Data-Analysis/blob/main/Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

In [3]:
df_left_hr=DataFrame({'key1':['SF','SF','LA','LA'],
                      'key_2': [10,20,30,40],
                      'data_set': np.arange(4)})

In [32]:
df1=DataFrame(np.arange(3),columns=['Mum'])
df2=DataFrame(np.arange(5),columns=['Del'])
df1.join(df2)

   Mum  Del
0    0    0
1    1    1
2    2    2

In [4]:
df_left_hr

  key1  key_2  data_set
0   SF     10         0
1   SF     20         1
2   LA     30         2
3   LA     40         3

In [15]:
#
df_right_hr=DataFrame(np.arange(8).reshape(4,2),index=[['LA','LA','SF',"SF"],[10,20,40,30]],
                                                        columns=['col1','col2'])

In [16]:
df_right_hr

       col1  col2
LA 10     0     1
   20     2     3
SF 40     4     5
   30     6     7

In [22]:
#Index heirarchy
pd.merge(df_left_hr,df_right_hr,left_on=['key1','key_2'],right_index=True)

Empty DataFrame
Columns: [col1, col2, key1, key_2, data_set]
Index: []

In [37]:
#Concatenate in Numpy
arr1=np.arange(9).reshape(3,3)
np.concatenate([arr1,arr1],axis=1)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [39]:
#Concatenate in Pandas
ser1=Series([1,2,3], index=['T','U','V'])
ser2=Series([3,4],index=['X','Y'])
pd.concat([ser1,ser2],axis=1)

     0    1
T  1.0  NaN
U  2.0  NaN
V  3.0  NaN
X  NaN  3.0
Y  NaN  4.0

In [43]:
pd.concat([ser1,ser2],keys=['cat1','cat2'])

cat1  T    1
      U    2
      V    3
cat2  X    3
      Y    4
dtype: int64

In [45]:
dframe1=DataFrame(np.random.randn(4,3),columns=['X','Y','Z'])
dframe2=DataFrame(np.random.randn(3,3),columns=['Y','Q','X'])
pd.concat([dframe1,dframe2])

          X         Y         Z         Q
0 -1.079839  2.078770 -1.008593       NaN
1 -1.636040  0.740998 -0.310841       NaN
2  1.188432 -1.335662 -0.829893       NaN
3  1.351704  1.806114 -1.178290       NaN
0 -0.066538  0.584803       NaN  0.247869
1 -0.120421  0.817973       NaN  0.205793
2  1.632258  0.227043       NaN -0.198431

In [15]:
## Combine DataFrames
nan= np.nan
dframe_odds= DataFrame({'X': [1., nan ,3.,nan],
                        'Y':[nan , 5. ,nan,7.],
                        'Z':[nan , 9., nan,11]})
dframe_odds

     X    Y     Z
0  1.0  NaN   NaN
1  NaN  5.0   9.0
2  3.0  NaN   NaN
3  NaN  7.0  11.0

In [18]:
dframe_even= DataFrame({'X': [2.,4., nan,6.,nan],
                        'Y':[nan, 8.,nan,10.,12]})
dframe_even

     X     Y
0  2.0   NaN
1  4.0   8.0
2  NaN   NaN
3  6.0  10.0
4  NaN  12.0

In [19]:
#dframe_odds.combine_first(dframe_even)
dframe_even.combine_first(dframe_odds)

     X     Y     Z
0  2.0   NaN   NaN
1  4.0   8.0   9.0
2  3.0   NaN   NaN
3  6.0  10.0  11.0
4  NaN  12.0   NaN

In [ ]:
#Reshaping